$background-color: #2c2f33;
//$navbar-bg: #1a1b1e;
//$navbar-bg: #faf9f6;
$navbar-bg: #ffffff;
$active-color: #9e86ff;
$inactive-color: #6b7280;
$text-size: 12px;
$shadow: 0 -40px 60px rgba(0, 0, 0, 0.03);

@mixin flex-center($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $navbar-bg;
  @include flex-center(row);
  justify-content: space-around;
  padding: 10px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: $shadow;
  z-index: 1000;

  .nav-item {
    @include flex-center(column);
    color: $inactive-color;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s ease;

    p {
      margin: 5px 0 0;
      font-size: $text-size;
    }

    &.active {
      color: $active-color;
    }
  }

  .scan-button {
    position: relative;
    bottom: 20px;
    height: 4rem;
    width: 4rem;
    background-color: $active-color;
    border-radius: 50%;
    color: $navbar-bg;
    @include flex-center();
    box-shadow: 0 -40px 60px rgba(0, 0, 0, 0.03);
    outline: 5px solid $navbar-bg;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
}
