@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
}

:root {
    background-color: transparent;
}

body {
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}